  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
 
  #header {
    background-color: #333;
    color: white;
    padding: 30px;
    margin: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 6px solid darkorange;
  }
  .image{
    margin-right: 40px;
  }
  .navegacion ul{
    list-style-type: none;
    margin-left: 10px;
  }
  .navegacion ul li a{
    color: #f1f1f1;
    margin: 30px;
  }
  
  #contact-info {
    background-color: rgb(207, 202, 196);
    border-left: 6px solid #333;
    padding: 40px;
  }

  #contact-info h4{
    margin-top: 20px;
    margin-left: 30px;
  }
  #contact-info ul{
    padding: 0;
    margin-left: 60px;
    margin-top: 20px;
  }
  #contact-info p{
    margin-left: 30px;
  }
  #education {
    background-color: rgb(207, 202, 196);
    border-left: 6px solid darkorange;
    padding: 40px;
  }

  #education h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  #education ul {
    padding: 0;
    margin-left: 30px;
    margin-top: 20px;
  }



  #work-experience {
    background-color: rgb(207, 202, 196);
    border-left: 6px solid #333;
    padding: 40px;
  }
  
  #work-experience h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  #work-experience h4{
    margin-top: 20px;
    margin-left: 10px;
  }
  #work-experience p{
    margin-top: 20px;
    margin-left: 30px;
  }
  #work-experience ul{
    margin-top: 20px;
    margin-left: 30px;

  }
 .text-center{
    display: flex;
    justify-content: space-between;
  }
  .g-col-6:first-child{
    padding-top: 40px;
    margin: 40px;
    text-align: left;
    background-color: #333;
    width: 20%;
    border-right: 6px solid darkorange;
 }

  .g-col-6:last-child{
    margin: 40px;
    text-align: left;
    background-color:  rgb(207, 202, 196);
    width: 80%;
  } 
  #references{
    background-color: rgb(207, 202, 196);
    border-left: 6px solid darkorange;
    padding: 40px;
  }
  #contact{
    padding: 40px;
    border-left: 6px solid  #333;
  }
  .formulario{
    display: flex;
    
  }
  .form-izq{
    margin-right: 40px;
  }
  
  #enviar button{
    background-color: #333;
    border-color: darkorange;
  }
  footer{
    background-color: #333;

    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-top:6px solid darkorange ;
    top: 100px;
    padding-left: 750px;
    bottom: 100px;
  }
  footer .logos-ft a{
    display: inline-block;
    width: 55px;
    height: 60px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-top: 30px;
    margin-right: 5px;
    margin-bottom: 5px; 
}
  
